In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [6]:
data = {
    "Параметр": ["I1", "I2", "I3", "U_r1", "U_r2", "U_r3"],
    "При 2 источниках": [26.25, 37.5, 63.75, 2.625, 5.625, 6.375],
    "При источнике E1": [56.25, 22.5, 33.75, None, None, None],
    "При источнике E2": [30, 60, 30, None, None, None]
}

# Создаем DataFrame
df = pd.DataFrame(data)

display(df.T)
display(df)

                      0     1      2      3      4      5
Параметр             I1    I2     I3   U_r1   U_r2   U_r3
При 2 источниках  26.25  37.5  63.75  2.625  5.625  6.375
При источнике E1  56.25  22.5  33.75    NaN    NaN    NaN
При источнике E2   30.0  60.0   30.0    NaN    NaN    NaN

  Параметр  При 2 источниках  При источнике E1  При источнике E2
0       I1            26.250             56.25              30.0
1       I2            37.500             22.50              60.0
2       I3            63.750             33.75              30.0
3     U_r1             2.625               NaN               NaN
4     U_r2             5.625               NaN               NaN
5     U_r3             6.375               NaN               NaN

In [11]:
I_кз = 170 
R_г = (100 * 150) / (100 + 150)
U0 = I_кз * R_г 

data_2п = {"I_кз": [I_кз],
           "E_г": [U0],
           "R_г": [R_г]}

data_2п = pd.DataFrame(data_2п)
data_2п

   I_кз      E_г   R_г
0   170  10200.0  60.0

In [19]:
# Данные для создания DataFrame
data_3п = {
    "Сопротивление": [10, 47, 68, 100, 150, 220],
    "Ток": [146.71, 95.32, 79.68, 63.75, 48.57, 36.42]
}

# Создаем DataFrame
df_new = pd.DataFrame(data_3п)

df_new.T

                    0      1      2       3       4       5
Сопротивление   10.00  47.00  68.00  100.00  150.00  220.00
Ток            146.71  95.32  79.68   63.75   48.57   36.42

# 2 пункт отчета

In [23]:
I1_e1 = 56.25
I1_e2 = -30
I1 = I1_e1 + I1_e2
display(I1)

I2_e1 = -22.5
I2_e2 = 60
I2 = I2_e1 + I2_e2
display(I2)

I3_e1 = 33.75
I3_e2 = 30
I3 = I3_e1 + I3_e2
display(I3)

26.25

37.5

63.75