In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [4]:
data = {
    "Параметр": ["I1", "I2", "I3", "U_r1", "U_r2", "U_r3"],
    "При 2 источниках": [26.25, 37.5, 63.75, 2.625, 5.625, 6.375],
    "При источнике E1": [56.25, 22.5, 33.75, None, None, None],
    "При источнике E2": [30, 60, 30, None, None, None]
}

# Создаем DataFrame
df = pd.DataFrame(data)

df.T

                      0     1      2      3      4      5
Параметр             I1    I2     I3   U_r1   U_r2   U_r3
При 2 источниках  26.25  37.5  63.75  2.625  5.625  6.375
При источнике E1  56.25  22.5  33.75    NaN    NaN    NaN
При источнике E2   30.0  60.0   30.0    NaN    NaN    NaN