Colab ü§© -> https://drive.google.com/file/d/1ZC9i8mvSWyJrytbjefXmFVIsy5u1L0de/view?usp=sharing

In [2]:
import pandas as pd

In [3]:
t1_1, t1_2, t1_3 = 23, 30, 26
h1_1, h1_2, h1_3 = 5.0, 5.5, 5.0

t2_1, t2_2, t2_3 = 52, 54, 53
h2_1, h2_2, h2_3 = 7.5, 8.0, 7.5

t3_1, t3_2, t3_3 = 79, 75, 80
h3_1, h3_2, h3_3 = 9.5, 10.0, 10.5

data = {
    "t1 (—Å)": [t1_1, t1_2, t1_3],
    "Œî h1 (—Å–º)": [h1_1, h1_2, h1_3],
    "t2 (—Å)": [t2_1, t2_2, t2_3],
    "Œî h2 (—Å–º)": [h2_1, h2_2, h2_3],
    "t3 (—Å)": [t3_1, t3_2, t3_3],
    "Œî h3 (—Å–º)": [h3_1, h3_2, h3_3]
}

df = pd.DataFrame(data)

df

   t1 (—Å)  Œî h1 (—Å–º)  t2 (—Å)  Œî h2 (—Å–º)  t3 (—Å)  Œî h3 (—Å–º)
0      23        5.0      52        7.5      79        9.5
1      30        5.5      54        8.0      75       10.0
2      26        5.0      53        7.5      80       10.5

In [16]:
V1 = 0.5
V2 = 1
V3 = 1.5
r = 0.580
p = 100_000
L = 94
R = 8.31
M = 29 * 10 ** -3
k = 1.38 * 10 ** -23
T = 20 + 273

t1_mean = df["t1 (—Å)"].mean()
Œîh1_mean = df["Œî h1 (—Å–º)"].mean()
t2_mean = df["t2 (—Å)"].mean()
Œîh2_mean = df["Œî h2 (—Å–º)"].mean()
t3_mean = df["t3 (—Å)"].mean()
Œîh3_mean = df["Œî h3 (—Å–º)"].mean()

print("t1 (—Å): {:.2f}".format(t1_mean))
print("Œîh1 (—Å–º): {:.2f}".format(Œîh1_mean))
print("t2 (—Å): {:.2f}".format(t2_mean))
print("Œîh2 (—Å–º): {:.2f}".format(Œîh2_mean))
print("t3 (—Å): {:.2f}".format(t3_mean))
print("Œîh3 (—Å–º): {:.2f}".format(Œîh3_mean))

t1 (—Å): 26.33
Œîh1 (—Å–º): 5.17
t2 (—Å): 53.00
Œîh2 (—Å–º): 7.67
t3 (—Å): 78.00
Œîh3 (—Å–º): 10.00

In [5]:
eta_1 = r **4 * 3.14 * 1000 * 10 * t1_mean * Œîh1_mean / (8 * V1 * L)
eta_1 = round(eta_1, 2)
eta_1

1285.79

In [6]:
eta_2 = r **4 * 3.14 * 1000 * 10 * t2_mean * Œîh2_mean / (8 * V2 * L)
eta_2 = round(eta_2, 2)
eta_2

1920.02

In [7]:
eta_3 = r **4 * 3.14 * 1000 * 10 * t3_mean * Œîh3_mean / (8 * V3 * L)
eta_3 = round(eta_3, 2)
eta_3

2457.12

In [8]:
eta = (eta_1 + eta_2 + eta_3) / 3
eta = round(eta,2)
eta

1887.64

In [9]:
ro = M * p/ (R * T)
round(ro,2)

1.19

In [10]:
D = 1.3 * eta / ro
D = round(D,2)
D

2060.31

In [11]:
V_ar = (8 * R * T / (3.14 * M)) ** (1/2)
V_ar = round (V_ar,2)
V_ar

462.5

In [12]:
lambda_ = 3 * D / V_ar
lambda_ = round(lambda_,2)
lambda_

13.36

In [13]:
n = p / (k * T)
n

2.473166147301776e+25

In [14]:
Z = V_ar / lambda_
Z = round(Z,2)
Z

34.62

In [15]:
d = (k * T / (1.41 * 3.14 * lambda_ * p)) ** (1/2)
d

2.6145427297440655e-14